.ctn-products-table {
    margin-top: 40px;
    background-color: #18181B;
    padding: 2rem;
    border-radius: 10px;
    border: #3F3F46 1px solid;
}

.btn-add-product{
    display: flex;
    justify-content: end;
    margin: 25px 0;
}